.nav {
    padding: 5em 10em;
    position: absolute;
    z-index: 10;

    .nav__links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        // padding: 1em 2em;
        // height: 100vh;
        justify-content: space-between;

    
    }

    .nav__link {
        margin-bottom: 1.3em;
        overflow: hidden;

       a {
        color: #000;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;

        transition: all 0.5s ease;

        &:hover {
            color: $white;
        }
       }
    }
}